@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courgette', cursive;
}
 
html{
    background-color: rgb(155, 204, 204);
}

button {
    background-color: white;
    border: solid;
}

button:hover{
    background-color: teal;
}

h1 {
    font-size: 60px;
    text-align: center;
}


/* Events */
/* #reset{
    position: absolute;
    height: 50px;
    width: 80px;
    margin: 0 48%;
} */

.midButtons{
    height: 50px;
    width: 100px;
    margin: 0 40px; 
    padding: 0;
    border-style: none;
    font-size: 16px;
}

.interactButtons{
    display: flex;
    justify-content: center;
    align-self: center;
}

[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

 [type=radio] + img {
    cursor: pointer;
    margin: 20px;
    margin-left: 80px;
  }

  [type=radio]:checked + img {
    outline: 2px solid #000;
  }


/* Design for player options */
#playerHolder{
    display: flex;
    margin: 0 150px;
    justify-content: space-around;
    margin-top: 40px;
}

#playerHolder h2{
    margin-bottom: 20px;
}

#playerHolder p{
    text-align: center;
    padding-left: 30px;
    margin-top: 20px;
}


/* The gameboard */

#game-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}


#gameBoard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 400px;
    width: 400px;
}



/* These remove the borders on each side of the grid to create the traditional 'tic-tac-toe' layout */
#b3, #b6, #b9{
    border-right-style: none;
}

#b1, #b2, #b3{
    border-top-style: none;
}

#b1, #b4, #b7{
    border-left-style: none;
}

#b7, #b8, #b9{
    border-bottom-style: none;
}

/* Classes for X or O selection */
.Xicon{
    background-image: URL("images/X.png");
}

.Oicon{
    background-image: URL("images/O.png");
}

